.catalogPage {
    &__header {
        background-image: url('../../../assets/images/catalog/catalog.svg');
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: left 0px top -255px;
        margin: 60px 0px 0px 0px;
        height: 275px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        &-header {
            color: #fff;
            font-size: 80px;
            font-family: 'Bebas-Neue-Bold';
            margin: 0px;
            padding: 0px 0px 0px 80px;
        }
        &-link {
            padding: 0px 0px 30px 80px;
            font-size: 14px;
            font-family: 'Inter-Regular';            
            &-link, &-separator {
                color: #FFF;
                text-decoration: none;
                &-orange {
                    @extend .catalogPage__header-link-link;
                    color: #F57520;
                }
            }
            &-link {
                transition: 200ms;
                &:hover { opacity: 66%; }
                &:active { opacity: 33%; }
            }
            &-separator { margin: 0px 5px; }
        }
    }
    &__body {
        padding: 40px 80px 0px 80px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        &__options {
            flex: 1;
            &-separator {
                opacity: 50%;
                margin: 25px 0px;
            }
            &__stock {
                display: flex;
                justify-content: space-around;
                &-header {
                    cursor: pointer;
                    font-family: 'Inter-Medium';
                    color: #34312D;
                    font-size: 16px;
                    margin: 0px;
                }
            }
            &__categories, &__brands, &__colors {
                &__header {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 0px 10px;
                    &-header {
                        cursor: pointer;
                        font-family: 'Inter-Medium';
                        color: #34312D;
                        font-size: 16px;
                        margin: 0px;
                    }
                    &-input { display: none; }
                    &-button {
                        cursor: pointer;
                        display: block;
                        width: 20px;
                        height: 12px;
                        display: flex;
                        position: relative;
                        & div {
                            position: absolute;
                            width: 12px;
                            height: 2px;
                            background-color: #777;
                            top: 40%;
                            transform: translate(-50%, 0);
                            border-radius: 5px;
                            transition: 200ms;
                            &:first-child { transform: rotate(40deg); }
                            &:last-child {
                                transform: rotate(-40deg);
                                left: 8px;
                            }
                        }
                    }
                    &-input:checked + &-button div:first-child { transform: rotate(-40deg); }
                    &-input:checked + &-button div:last-child { transform: rotate(40deg); }
                }
                &__body {
                    overflow: hidden;
                    height: 0px;
                    transition: 200ms;
                    margin: 10px;
                    &__item {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin: 10px 0px;
                        height: 20px;
                        &-wrapper {
                            display: flex;
                            &-text {
                                cursor: pointer;
                                margin: 0px 0px 0px 5px;
                                color: #777;
                                font-size: 16px;
                                font-family: 'Inter-Regular';
                            }
                        }
                        &-amount {
                            cursor: pointer;
                            margin: 0px 0px 0px 5px;
                            color: #B3B3B3;
                            font-size: 12px;
                            font-family: 'Inter-Regular';
                        }
                    }
                }
            }
            &-button {
                cursor: pointer;
                color: #101010;
                font-size: 16px;
                font-family: 'Inter-Medium';
                width: 100%;
                border-radius: 10px;
                padding: 10px 0px;
                background-color: #0000;
                border: 1px solid #C3C3C3;
                transition: 200ms;
                &:hover { opacity: 66%; }
                &:active { opacity: 33%; }
            }
        }
        &__items {
            margin: 0px 0px 0px 20px;
            flex: 4;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            &__item {
                width: 30%;
                margin: 0px 0px 30px 0px;
                max-width: 350px;
            }
        }
    }
}