.adminOrderCard {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    margin: 10px;
    &__orderInfo-left {
        &-header {
            font-family: 'Inter-Bold';
            font-size: 20px;
            color: #101010;
        }
        &__info {
            &-id, &-price, &-time {
                font-size: 'Inter-Regular';
                margin: 3px 0px;
                color: #101010;
            }
        }
    }
    &__orderInfo-center {
        &-header {
            font-family: 'Inter-Bold';
            font-size: 20px;
            color: #101010;
            text-align: center;
        }
        &-product {
            background-color: #F2F2F2;
            padding: 10px;
            border-radius: 10px;
            margin: 10px 0px;
            &-header { font-family: 'Inter-Bold'; }
            &-text { margin: 3px 0px; }
        }
    }
    &__orderInfo-right {
        &-header {
            font-family: 'Inter-Bold';
            font-size: 20px;
            color: #101010;
            text-align: center;
        }
    }
}

.radio-inputs {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border-radius: 0.5rem;
    background-color: #EEE;
    box-sizing: border-box;
    box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
    padding: 0.25rem;
    width: 300px;
    font-size: 14px;
}
  
.radio-inputs .radio {
    flex: 1 1 auto;
    text-align: center;
}
  
.radio-inputs .radio input {
    display: none;
}
  
.radio-inputs .radio .name {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: none;
    padding: .5rem 0;
    color: rgba(51, 65, 85, 1);
    transition: all .15s ease-in-out;
}
  
.radio-inputs .radio input:checked + .name {
    background-color: #fff;
    font-weight: 600;
}