.loopSlider {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    &__firstSlide, &__secondSlide {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}