.registerModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.75);
    overflow: hidden;
    overflow-y: auto;
    transition: opacity 0.3s;
    z-index: 10;
    &__wrapper {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        &__content {
            position: absolute;
            margin: 0px;
            width: 100%;
            max-width: 450px;
            border-radius: 10px;
            background-color: rgb(255,255,255);
            padding: 40px 20px 20px 20px;
            transform: translateY(-50px);
            transition: opacity 0.3s, transform 0.3s;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            &__closeButton {
                cursor: pointer;
                position: absolute;
                top: 16px;
                right: 16px;
                width: 30px;
                height: 30px;
                padding: 0;
                background-color: transparent;
                border: none;
            }
            &__regBody {
                &__header {
                    color: #101010;
                    font-family: "Inter-Regular";
                    font-size: 24px;
                    margin: 0px;
                    text-align: left;
                }
                &__wrapper {
                    text-align: left;
                    width: 400px;
                    margin: 0px auto 0px auto;
                    display: flex;
                    flex-direction: column;
                    &__enterButton {
                        width: 100%;
                        margin: 30px 0px;
                        background-color: #F57520;
                        font-size: 16px;
                        font-family: 'Inter-Regular';
                        color: #fff;
                        height: 50px;
                        border: none;
                        border-radius: 10px;
                        cursor: pointer;
                        transition: 350ms;
                        padding: 0px;
                        &:hover { background-color: #F5752099; }
                        &:active { background-color: #F5752033; }
                    }
                }
            }
        }
    }
    &--entering, &--entered {opacity: 1;}
    &--entering &__wrapper__content, &--entered &__wrapper__content {transform: translateY(0);}
    
    &--exiting, &--exited {opacity: 0;}
    &--exiting &__wrapper__content, &--exited &__wrapper__content {transform: translateY(-50px);}
}

@media (max-width: 600px) {
    .registerModal__wrapper__content {
        max-width: 90%;
        &__regBody {
            width: 90%;
            &__wrapper {
                margin: 0px;
                width: 95%;
            }
        }
    }
}