.catalogById {
    margin-top: 60px;
    padding: 0px 80px;
    &__link {
        margin: 20px 0px;
        display: flex;
        &-link , &-separator {
            font-size: 14px;
            color: #4C4C4C;
            font-family: 'Inter-Regular';
        }
        &-separator { margin: 0px 5px; }
        &-link {
            text-decoration: none;
            transition: 200ms;
            &:hover { opacity: 66%; }
            &:active { opacity: 33%; }
            &-orange {
                @extend .catalogById__link-link;
                color: #F57520;
            }
        }
    }
}