.divSlider {
    display: flex;
    align-items: start;
    justify-content: space-between;
    min-height: 160px;
    &__element {
        min-height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #fff;
        font-family: 'Inter-Medium';
        width: 33%;
        background-color: #101010;
        padding: 20px 80px;
        transition: 200ms;
        & a { display: none; }
    }
    &__link {
        color: #F57520;
        text-decoration: none;
        transition: 200ms;
        font-family: 'Inter-Medium';
        &:hover { opacity: 0.66; }
        &:active { opacity: 0.33; }
    }
}

.active {
    border-radius: 0px 0px 10px 10px;
    background-color: #131313;
    min-height: 120px;
    & a { display: block; }
}

@media (max-width: 940px) {
    .divSlider{
        &__element {
            padding: 10px 40px;
        }
    }
}

@media (max-width: 690px) {
    .divSlider{
        &__element {
            padding: 5px 20px;
        }
    }
}

@media (max-width: 580px) {
    .divSlider { display: none; }
}