.divSlider {
    display: flex;
    align-items: start;
    justify-content: space-between;
    min-height: 160px;
    &__element {
        min-height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #fff;
        font-family: 'Inter-Light';
        width: 33%;
        background-color: #101010;
        padding: 20px 80px;
        transition: 350ms;
        & a { display: none; }
    }
    &__link {
        color: #F57520;
        text-decoration: none;
        transition: 350ms;
        font-family: 'Inter-Light';
        &:hover { opacity: 0.66; }
        &:active { opacity: 0.33; }
    }
}

.active {
    border-radius: 0px 0px 10px 10px;
    background-color: #131313;
    min-height: 120px;
    & a { display: block; }
}