.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 0px 75px;
    background-color: #0000;
    &__wrapper {
        display: flex;
    }
    &__link, &__button {
        cursor: pointer;
        margin: 15px;
        padding: 0px;
        height: 30px;
        background-color: #0000;
        text-decoration: none;
        color: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        font-family: 'Inter-Light';
        font-size: 16px;
        transition: 350ms;
        &:hover { opacity: 0.66; }
        &:active { opacity: 0.33; }
    }
    &__burgerMenu {
        display: none;
        background-color: #0000;
        border: none;
        width: 30px;
        height: 30px;
        margin: 15px;
    }
}

.link_orange {
    color: #F57520;
}

.search_img {
    width: 30px;
    height: 30px;
}

@media (max-width: 1090px) {
    .adaptive {
        display: none;
    }
    .header {
        &__burgerMenu { display: block; }
    }
}
@media (max-width: 790px) {
    .secondAdaptive { display: none; }
    .header { padding: 0px 20px; }
}

@media (max-width: 550px) {
    .header__link img { width: 60px; }
}