.mainPage {
    margin: 0px;
    &__welcomeDiv {
        background-image: url(../../assets/images/main/homeWelcome.svg);
        background-size: cover;
        width: 100%;
        height: 700px;
        &__header {
            color: #fff;
            font-size: 80px;
            font-family: 'Bebas-Neue-Bold';
            padding: 185px 0px 0px 80px;
            letter-spacing: 10px;
        }
        &__text {
            color: #fff;
            margin: 0px;
            font-family: 'Inter-Light';
            padding: 20px 0px 40px 80px;
            letter-spacing: 2px;
        }
        &__link {
            margin: 30px 0px 0px 80px;
            text-decoration: none;
            color: #fff;
            background-color: #F57520;
            padding: 16px 45px;
            border-radius: 10px;
            transition: 200ms;
            font-family: 'Inter-Medium';
            &:hover { background-color: #F5752088; }
            &:active { background-color: #F5752044; }
        }
    }
    &__divSlider {
        margin-top: -20px;
        &__child {
            &-text {
                margin: 0px;
                font-size: 16px;
                font-family: 'Inter-Medium';
                color: #fff;
                transition: 200ms;
            }
            &-link {
                cursor: unset;
                display: block;
                opacity: 0%;
                margin: 0px;
                font-size: 14px;
                font-family: 'Inter-Medium';
                color: #F57520;
                text-decoration: none;
                transition: 200ms;
                height: 0px;
                &:hover { opacity: 66%; }
                &:active { opacity: 33%; }
            }
        }
    }
    &__loopSlider {
        margin: 20px 0px;
        &-img {
            width: 160px;
            margin: 0px 30px;
        }
    }
    &__cardSlider {
        padding: 20px 80px 30px 80px;
        background-color: #F8F8F8;
        &-header {
            color: #101010;
            font-family: 'Bebas-Neue-Bold';
            font-size: 60px;
            margin: 10px 0px;
        }
        &__slider {
            display: flex;
            align-items: center;
            justify-content: center;
            &-error {
                color: #101010;
                font-size: 16px;
                font-family: 'Inter-Light';
                margin: 0px 0px 20px 0px;
            }
        }
        &-link {
            color: #777;
            font-size: 12px;
            font-family: 'Inter-Regular';
            text-decoration: none;
            transition: 200ms;
            width: 100%;
            display: block;
            text-align: center;
            margin-top: 30px;
            &:hover { opacity: 66%; }
            &:active { opacity: 33%; }
        }
    }
    &__catalog {
        margin-top: 80px;
        padding: 0px 80px;
        &-header {
            color: #101010;
            font-family: 'Bebas-Neue-Bold';
            font-size: 60px;
            margin: 10px 0px;
        }
        &__container {
            &-link {
                color: #FFF;
                font-size: 40px;
                font-family: 'Bebas-Neue-Bold';
                text-decoration: none;
                background-color: #F57520;
                height: 200px;
                display: flex;
                align-items: center;
                padding: 0px 0px 0px 80px;
                border-radius: 10px;
                transition: 200ms;
                background-image: url('../../assets/images/main/catalog/bicycles.svg');
                background-repeat: no-repeat;
                background-position: right 0px top 0px;
                background-size: 65%;
                margin-bottom: 10px;
                &:hover { opacity: 66%; }
                &:active { opacity: 33%; }
            }
            &__bottomSection {
                display: flex;
                height: 300px;
                &-link {
                    color: #FFF;
                    font-size: 40px;
                    font-family: 'Bebas-Neue-Bold';
                    text-decoration: none;
                    background-color: #101010;
                    display: flex;
                    justify-content: center;
                    padding: 60px 0px 0px 0px;
                    border-radius: 10px;
                    transition: 200ms;
                    background-image: url('../../assets/images/main/catalog/trade-in.svg');
                    background-repeat: no-repeat;
                    background-position: right 0px top 100px;
                    background-size: 100%;
                    margin-right: 10px;
                    flex: 1;
                    &:hover { opacity: 66%; }
                    &:active { opacity: 33%; }
                }
                &-outerContainer {
                    flex: 2;
                    display: flex;
                    &-innerContainer {
                        display: flex;
                        flex-direction: column;
                        flex: 1;
                        &:first-child { margin-right: 10px; }
                        &-link {
                            display: flex;
                            color: #FFF;
                            font-size: 40px;
                            font-family: 'Bebas-Neue-Bold';
                            text-decoration: none;
                            background-color: #101010;
                            border-radius: 10px;
                            transition: 200ms;
                            background-repeat: no-repeat;
                            flex: 1;
                            &:first-child { margin-bottom: 10px; }
                            &:hover { opacity: 66%; }
                            &:active { opacity: 33%; }
                        }
                    }
                }
            }
        }
    }
    &__video {
        margin-top: 80px;
        &__header {
            padding: 0px 80px;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            &-header {
                color: #101010;
                font-family: 'Bebas-Neue-Bold';
                font-size: 60px;
                margin: 0px 0px 10px 0px;
                flex: 1;
            }
            &__container {
                flex: 1;
                &-text {
                    color: #101010;
                    font-size: 16px;
                    font-family: 'Inter-Regular';
                    margin: 0px;
                }
                &-link {
                    color: #B3B3B3;
                    font-size: 16px;
                    font-family: 'Inter-Medium';
                    text-decoration: none;
                    transition: 200ms;
                    display: block;
                    margin: 30px 0px 0px 0px;
                    &:hover { opacity: 66%; }
                    &:active { opacity: 33%; }
                }
            }
        }
        &__body {
            width: 100%;
            &-player {
                width: 100%;
                height: 100%;
            }
        }
        &__footer {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            padding: 20px 80px 0px 80px;
            background-color: #2E2E2E;
            margin-top: -4px;
            &__section {
                flex: 4;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                &__header {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 50px;
                    &-img { margin: 0px 10px 0px 0px; }
                    &-text {
                        color: #FFF;
                        font-size: 20px;
                        font-family: 'Inter-Medium';
                        margin: 0px;
                    }
                }
                &-text {
                    color: #FFF;
                    font-size: 16px;
                    font-family: 'Inter-Light';
                    margin: 20px 0px;
                    width: 75%;
                }
            }
        }
    }
    &__winterBicycles {
        padding: 30px 80px;
        background-color: #101010;
        background-image: url('../../assets/images/main/winterBicycle/winterBicycle.svg');
        background-repeat: no-repeat;
        align-items: flex-start;
        justify-content: space-between;
        &-header {
            color: #FFF;
            font-size: 60px;
            font-family: 'Bebas-Neue-Bold';
            margin: 10px 0px;
        }
        &__slider {
            display: flex;
            justify-content: center;
        }
    }
    &__advantages {
        &-header {
            color: #101010;
            font-size: 60px;
            font-family: 'Bebas-Neue-Bold';
            margin: 80px 0px 0px 80px;
        }
        &__body {
            width: 100%;
            background-color: #101010;
            display: flex;
            flex-direction: column;
            justify-content: right;
            align-items: flex-end;
            background-image: url('../../assets/images/main/advantages/advantages.svg');
            background-repeat: no-repeat;
            &__rows {
                padding: 10px 20px;
                display: flex;
                margin-right: 15%;
                background-color: #FFF;
                &__row {
                    padding: 30px;
                    border-radius: 10px;
                    width: 230px;
                    height: 230px;
                    box-sizing: border-box;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    &:first-child { margin-right: 20px; }
                    &-header {
                        font-size: 20px;
                        font-family: 'Inter-Medium';
                        color: #FFF;
                        margin: 0px
                    }
                    &-text {
                        font-size: 16px;
                        font-family: 'Inter-Light';
                        color: #FFF;
                        margin: 0px
                    }
                    &-link {
                        font-size: 16px;
                        font-family: 'Inter-Medium';
                        color: #FFF;
                        text-decoration: none;
                        transition: 200ms;
                        &:hover { opacity: 66%; }
                        &:active { opacity: 33%; }
                    }
                }
            }
        }
    }
}

#mainPage__catalog-parts {
    background-image: url('../../assets/images/main/catalog/parts.svg');
    background-size: 40%;
    background-position: right 0px bottom 0px;
    align-items: center;
    padding: 0px 0px 0px 40px;
    flex: 4;
}
#mainPage__catalog-accessories {
    background-image: url('../../assets/images/main/catalog/accessories.svg');
    background-size: 50%;
    background-position: right 0px top 60%;
    align-items: flex-end;
    padding: 0px 0px 25px 40px;
    flex: 5;
}
#mainPage__catalog-equipment {
    background-image: url('../../assets/images/main/catalog/equipment.svg');
    background-size: 40%;
    background-position: right 0px top 50px;
    padding: 25px 0px 0px 40px;
    flex: 5;
}
#mainPage__catalog-racks {
    background-image: url('../../assets/images/main/catalog/racks.svg');
    background-size: 40%;
    background-position: right -15% top 0px;
    padding: 25px 0px 0px 40px;
    flex: 4;
}

#mainPage__advantages__section-1 { background-color: #F57520; }
#mainPage__advantages__section-2 { background-color: #EB6B16; }
#mainPage__advantages__section-3 { background-color: #E1610C; }
#mainPage__advantages__section-4 { background-color: #D75702; }