.main {
    margin: 0px;
    &__welcomeDiv {
        background-image: url(../../assets/images/home/homeWelcome.svg);
        background-size: cover;
        width: 100%;
        height: 700px;
        &__header {
            color: #fff;
            font-size: 80px;
            font-family: 'Bebas-Neue-Bold';
            padding: 185px 0px 0px 80px;
            letter-spacing: 3px;
        }
        &__text {
            color: #fff;
            margin: 0px;
            font-family: 'Bebas-Neue-Book';
            padding: 20px 0px 40px 80px;
            letter-spacing: 2px;
        }
        &__link {
            margin: 30px 0px 0px 80px;
            text-decoration: none;
            color: #fff;
            background-color: #F57520;
            padding: 16px 45px;
            border-radius: 10px;
            transition: 350ms;
            font-family: 'Inter-Regular';
            &:hover { background-color: #F5752088; }
            &:active { background-color: #F5752044; }
        }
    }
    &__newItems {
        background-color: #F8F8F8;
        padding: 5px 80px 80px 80px;
        margin-bottom: 50px;
        &__header {
            font-size: 64px;
            font-family: 'Bebas-Neue-Regular';
        }
        &__cards {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }
        &__mobileCards {
            display: none;
            overflow-x: hidden;
            &__wrapper {
                display: flex;
                justify-content: space-between;
            }
        }
    }
    &__catalog {
        margin: 0px 80px;
        &__header {
            color: #101010;
            font-family: 'Bebas-Neue-Bold';
            margin: 0px;
            font-size: 60px;
        }
        &__link {
            display: block;
            margin-top: 40px;
            width: 100%;
            height: 225px;
            border-radius: 10px;
            background-color: #F57520;
            background-image: url('../../assets/images/home/catalog/bicycle.svg');
            text-decoration: none;
            font-size: 60px;
            font-family: 'Bebas-Neue-Bold';
            color: #fff;
            background-repeat: no-repeat;
            background-position: top -10px  right 10px;
            display: flex;
            transition: 350ms;
            &__text {
                margin: 0px 0px 0px 60px;
                align-self: center;
            }
            &:hover { opacity: 0.66; }
            &:active { opacity: 0.33; }
        }
        &__container {
            display: flex;
            margin-top: 10px;
            min-height: 300px;
            &__link {
                display: block;
                color: #fff;
                text-decoration: none;
                font-size: 60px;
                font-family: 'Bebas-Neue-Bold';
                background-color: #101010;
                background-image: url('../../assets/images/home/catalog/tradeIn.svg');
                background-position: top 130px left 0px;
                background-size: 100%;
                width: 25%;
                background-repeat: no-repeat;
                border-radius: 10px;
                transition: 350ms;
                padding-top: 40px;
                &__text {
                    margin: 0px;
                    text-align: center;
                }
                &:hover { opacity: 0.66; }
                &:active { opacity: 0.33; }
            }
            &__wrapper {
                flex: 1;
                margin-left: 10px;
                width: 37%;
                display: flex;
                flex-direction: column;
                &__link {
                    display: block;
                    background-color: #101010;
                    width: 100%;
                    height: 50%;
                    border-radius: 10px;
                    flex: 6;
                    text-decoration: none;
                    color: #fff;
                    font-size: 60px;
                    font-family: 'Bebas-Neue-Bold';
                    display: flex;
                    transition: 350ms;
                    &__text {
                        margin: 0px;
                    }
                    &:hover { opacity: 0.66; }
                    &:active { opacity: 0.33; }
                }
            }
        }
    }
}

#main__catalog__parts {
    flex: 4;
    background-image: url('../../assets/images/home/catalog/parts.svg');
    background-repeat: no-repeat;
    background-position: top 0px right 0px;
    align-items: center;
    margin: 0px 10px 10px 0px;
    p {
        margin-left: 40px;
    }
}
#main__catalog__accessories {
    background-image: url('../../assets/images/home/catalog/accessories.svg');
    background-repeat: no-repeat;
    background-position: top -190px right -60px;
    align-items: end;
    p {
        margin: 0px 0px 10px 40px;
    }
}
#main__catalog__equipment {
    background-image: url('../../assets/images/home/catalog/equipment.svg');
    background-repeat: no-repeat;
    background-position: top 40px right 0px;
    margin: 0px 0px 10px 0px;
    p {
        margin: 20px 0px 0px 40px;
    }
}
#main__catalog__bikeRacks {
    flex: 4;
    background-image: url('../../assets/images/home/catalog/bikeRacks.svg');
    background-repeat: no-repeat;
    background-position: top -30px right -80px;
    align-items: center;
    p {
        margin: 0px 0px 0px 40px;
    }
}

@media (max-width: 1200px) {
    .main {
        &__catalog {
            &__link {
                background-position: top -10px left 240px;
            }
        }
    }
}

@media (max-width: 1040px) {
    .main {
        &__catalog {
            &__link { background-position: top 0px right -240px; }
            &__container {
                flex-direction: column;
                &__link {
                    min-height: 225px;
                    width: 100%;
                    padding: 0px;
                    display: flex;
                    align-items: center;
                    background-position: top 10px right -50px;
                    background-size: 80%;
                    &__text {
                        margin: 0px 0px 0px 60px;
                        text-align: left;
                        display: flex;
                    }
                }
                &__wrapper {
                    margin: 10px 0px 0px 0px;
                    width: 100%;
                    flex: 1;
                    flex-direction: row;
                    &__link { min-height: 225px; }
                }
            }
        }
    }
    #main__catalog__parts, #main__catalog__equipment {
        margin: 0px 10px 0px 0px;
        flex: 1;
        align-items: start;
    }
    #main__catalog__accessories, #main__catalog__bikeRacks {
        flex: 1;
        align-items: start;
        & p { margin: 20px 0px 0px 40px; }
    }
    #main__catalog__parts {
        background-position: bottom 0px right 0px;
        align-items: start;
        & p { margin: 20px 0px 0px 40px; }
    }
    #main__catalog__accessories { background-position: top 0px right -40px; }
    #main__catalog__bikeRacks { background-position: top 50px right -40px; }
    #main__catalog__equipment { background-position: top 80px right -20px; }
}

@media (max-width: 960px) {
    .main {
        &__welcomeDiv { background-position: top; }
    }
}

@media (max-width: 790px) {
    .main {
        &__welcomeDiv {
            &__header {
                font-size: 60px;
                padding-left: 40px;
            }
            &__text { padding-left: 40px; }
            &__link { margin-left: 40px; }
        }
        &__newItems {
            padding: 5px 40px 80px 40px;
            &__header { font-size: 50px; }
            &__cards { display: none; }
            &__mobileCards {
                display: block;
            }
        }
        &__catalog {
            margin: 0px 40px;
            &__link {
                align-items: start;
                &__text { font-size: 40px; }
            }
            &__container {
                &__link {
                    &__text { font-size: 40px; }
                }
                &__wrapper {
                    &__link {
                        &__text { font-size: 40px; }
                    }
                }
            }
        }
    }
}

@media (max-width: 550px) {
    #main__catalog__parts, #main__catalog__bikeRacks,
    #main__catalog__accessories, #main__catalog__equipment
    { & p {
        margin: 20px 0px 0px 20px;
        font-size: 30px;
    }}
    #main__catalog__parts {
        background-size: 40%;
        background-position: bottom 0px right 0px;
    }
    #main__catalog__bikeRacks {
        background-size: 50%;
        background-position: bottom 0px right -20px;
    }
    #main__catalog__accessories {
        background-size: 60%;
        background-position: bottom 0px right -20px;
    }
    #main__catalog__equipment {
        background-size: 60%;
        background-position: bottom 0px right -20px;
    }
    .main {
        &__welcomeDiv {
            &__header { font-size: 40px; }
        }
        &__newItems {
            &__header { font-size: 40px; }
        }
        &__catalog {
            &__header { font-size: 40px; }
            &__link {
                height: 130px;
                background-size: 80%;
                background-position: top 0px right 0px;
                &__text {
                    font-size: 30px;
                    margin: 0px 0px 0px 20px;
                }
            }
            &__container {
                &__link {
                    min-height: 130px;
                    background-position: top 0px right 0px;
                    &__text {
                        font-size: 30px;
                        margin: 0px 0px 0px 30px;
                    }
                }
                &__wrapper { &__link { min-height: 130px; }}
            }
        }
    }
}

@media (max-width: 420px) {
    #main__catalog__parts, #main__catalog__bikeRacks,
    #main__catalog__accessories, #main__catalog__equipment
    { & p {
        margin: 10px 0px 0px 10px;
        font-size: 20px;
    }}
    .main {
        &__catalog {
            &__link {
                &__text {
                    font-size: 20px;
                    margin: 0px 0px 0px 10px;
                }
            }
            &__container {
                &__link {
                    &__text {
                        font-size: 20px;
                        margin: 0px 0px 0px 10px;
                    }
                }
            }
        }
    }
}